extends layouts/_layout.pug

block content
  .pb-4
    h2 Hello World!
    span.text-muted(style="font-size:18px")  This is an example page
  
  .pb-4
    h3 Cards grid example
    .row.row-cols-1.row-cols-md-3.g-4
      include components/card.pug