extends layouts/_layout.pug

block content
  .pb-4
    h2 Annuaire Graines de SOL
    span.text-muted(style="font-size:18px")  Trouver un entrepreneur pour votre projet !
  
  .pb-4
    h4 Secteurs d'activités
    div 
      for category in categories
        span.badge.bg-primary.m-2 #{category}

  .pb-4
    h4 Métiers
    div 
      for trade in trades
        span.badge.bg-secondary.m-2 #{trade}

  .pb-4
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4.cards-list
      include components/card.pug