for card in data
	.col
		a(href=card.link style="text-decoration:none").card.h-100.shadow
			img.card-img-top(src=card.avatar_urls.full alt='Card image')
			.card-body
				h5.card-title #{card.name}
				p.card-text
					| Métier : #{card.xprofile.groups[0].fields[3].value.raw}
