// Navbar Right Menu
.input-group
	input.form-control(oninput='updateResult(this.value)' type='search' placeholder='Rechercher...')
.container-fluid
	.row
		main.col-md-12.ms-sm-auto.col-lg-12.px-md-4
			.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
			block content